.controls-container {
  display: flex;
  width: 100%;
}
.vertical-scroll-only {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.open-exit-buttons {
  padding: 1rem;
  z-index: 3;
}
.toggle_button,
.cross {
  border: none;
  background: transparent;
  transition: all ease-in-out 0.3s;
  z-index: 3;
  position: fixed;
}
.toggle_button:hover,
.cross:hover {
  border-radius: 0.4rem;
  cursor: pointer;
  scale: 1.05;
}
.three_bars,
.cross {
  width: 2.3rem;
}

.side-nav-bar {
  height: 100%;
  min-height: 300px;
  width: 250px;
  position: fixed;
  left: -250px;
  background: #000000;
  transition: 0.3s;
  color: #e0e0e0;
  padding-top: 50px;
  z-index: 2;
}
.sidebar-open {
  left: 0;
}

ul {
  list-style-type: none;
}

.cool-link {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  padding: 2px 4px;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

.cool-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e0e0e0;
  transition: width 0.3s ease;
}

.cool-link:hover {
  background: rgba(0, 0, 0, 0.05);
}

.cool-link:hover::after {
  width: 100%;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

.active {
  background-color: #e0e0e0;
}
